.contact {
  z-index: 6;
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease-in-out;
  flex-direction: column;
}

.closingbar {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.closing {
  color: var(--maincolor);
  font-size: 2em;
  padding-inline: 3%;
}

.closing:hover {
  rotate: 90deg;
  transition-duration: 1s;
  cursor: pointer;
}

.concontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 93%;
  width: 100%;
}

.concontent a:hover {
  text-shadow: 0px 0px 10px var(--glow);
  font-size: 1em;
}

.concontent:hover {
  text-shadow: 0px 0px 10px var(--glow);
}

.conblock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}

.conbutton {
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.1);
  height: 100px;
  width: 200px;
  margin: 5px;
  border-radius: 20px;
  margin-block: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid var(--maincolor);
}

.conbutton:hover {
  outline: 2px solid var(--maincolor);
  cursor: pointer;
}
