@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300&family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho:wght@700&family=IM+Fell+Great+Primer+SC&family=Lily+Script+One&family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");

html {
  scroll-behavior: smooth !important;
  --backgroundradiant: rgba(25, 25, 25, 1);
  --background-color1: rgba(0, 0, 0, 1);
  --background-color2: #191919;
  --background-color3: #1f1f1f;
  --maincolor: whitesmoke;
  --sccolor: rgb(185, 185, 185);
  --grain: #888888;
  --circlesize: 50%;
  --portfolio: whitesmoke;
  --photofilter: brightness(95%);
  --glasscolor: rgba(22, 22, 22, 0.4);
  --glasscolortext: rgb(0, 0, 0);
  --glow: whitesmoke;
}

html.dark {
  scroll-behavior: smooth !important;
  --backgroundradiant: rgb(25, 97, 169, 0.8);
  --background-color1: rgba(248, 249, 250, 1);
  --background-color2: #e9ecef;
  --background-color3: #dee2e6;
  --maincolor: rgb(27, 42, 65);
  --sccolor: #6c757d;
  --grain: #d0021b;
  --circlesize: 50%;
  --portfolio: transparent;
  --glasscolor: rgba(255, 255, 255, 0.202);
  --glasscolortext: rgba(255, 255, 255);
  --glow: rgb(120, 171, 215);
}

section {
  height: 60vh;
  width: 100vw;
  display: flex;
  scroll-snap-align: start;
}

section .gallery {
  height: auto;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth !important;
}

h1 {
  /*header*/
  /* color: var(--maincolor); */
  /* font-family: "Abril Fatface", serif;
  font-style: italic;
  font-size: 7.2em; */
  font-family: "Mea Culpa", cursive;
  font-weight: 100;
  font-style: italic;
  font-size: 10.5em;
  box-sizing: border-box;
  padding-right: 30px;
  margin: 0%;
  transform: translateY(50px);
  overflow: hidden;
  user-select: none;
  filter: drop-shadow(0 0 5px var(--maincolor));
  color: var(--portfolio);
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: var(--maincolor);

  /* animation: 
    typing 2s steps(25, end);
    transition-duration: 2s;
    font-family: 'Abril Fatface', serif;
    font-family: "DM Serif Display", serif;
/* 
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--maincolor);
     */
}

/*     color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--maincolor); */

/* @keyframes typing {
          from {width: 0}
          to {width: 100%}
        } */

h2 {
  /*sc header title*/
  background-color: var(--background-color3);
  color: var(--maincolor);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  letter-spacing: 4px;
  margin: 0%;
  padding: 0%;
  animation: fadein 3s;
  user-select: none;
  z-index: 5;
}

a {
  color: var(--maincolor);
  display: inline-block;
  text-decoration: none;
  user-select: none;
}

a:hover {
  text-shadow: 0px 0px 10px var(--glow);
  font-size: 1.2em;
}

h5 {
  /*menu*/
  color: var(--maincolor);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  user-select: none;
  padding: 0%;
  margin: 0%;
}

h6 {
  /*caption*/
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: var(--maincolor);
  text-align: center;
  animation: fadein 3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 4;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

h4 {
  /* pj tilte */
  /* color: var(--portfolio); */
  color: var(--maincolor);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2em;
  line-height: 40px;
  /* -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: var(--maincolor); */
  padding: 0%;
  margin: 0%;

  /* font-family: "Abril Fatface", serif; 
    font-size: 2em;*/
}

@media screen and (max-width: 768px) {
  h1 {
    /*header*/
    font-size: 10em;
    padding-right: 10px;
  }
  h2 {
    /*sc header title*/
    font-size: 1.2em;
  }
}

@media screen and (max-width: 540px) {
  h1 {
    font-size: 7em;
    transform: translateY(20px);
  }
  h2 {
    font-size: 0.7em;
  }
  h6 {
    /*caption*/
    font-size: 0.7em;
  }
  h2 {
    font-size: 1/2em;
    color: var(--maincolor);
  }
}

@media screen and (max-width: 370px) {
  h1 {
    font-size: 5em;
    transform: translateY(10px);
  }
  h2 {
    font-size: 0.3em;
    color: var(--maincolor);
  }
  h5 {
    font-size: 0.7em;
  }
}
